<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VirtualMessManager.Properties.Settings.VMMConnectionString"
            connectionString="Data Source=ROKY\SQLEXPRESS;Initial Catalog=VMM;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="VirtualMessManager.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-I9BSUHP\SQLEXPRESS;Password=123456;User ID=sa;Initial Catalog=VMM"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>